/******Navbar****/

.main_content {
    width: 100%;
    margin-top: 56px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.topbar_custom {
    padding: 1rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    background: white !important;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    font-family: 'Palanquin', sans-serif;
    color: black;
}

.navbar-light .navbar-nav .nav-link :hover {
    color: #b79c5f!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #d0b16c
}


/*********** COMMON ***********/

h1 {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 3rem;
}

h2 {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 2.5rem;
}

.btn-light {
    background: #d0b16c;
}

.btn-light:hover {
    background: #9b844f;
}

.btn.btn-light:active,
.btn-light:focus,
.btn.btn-light.active {
    background-color: #d0b16c !important;
}

.bg-custom-lightGray {
    background: #e1e1e1;
}

.bg-custom-mediumGray {
    background: #dddddd
}

.bg-custom-darkGray {
    background: #cdcdcd
}

.bg-gold {
    background: #c9a44c
}

.brand_img {
    max-height: 4vh;
}


/************Content *************/

.product_detail {
    background: #ecebeb;
    min-height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 7rem;
}

.product_detail h1 {
    padding: 1rem 0;
}

a:hover {
    color: #b79c5f;
    text-decoration: none;
    cursor: pointer;
}

.product_detail-sharelist {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

.text-lightGray {
    color: #00000088;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem 4rem;
    width: 100%;
}

.navigation_side {
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 0.85rem;
}


/********** FOOTER ***********/

.custom-footer {
    max-height: 20vh;
    margin-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.custom-footer ul {
    column-count: 2;
    list-style: none;
    margin-top: 2rem;
}

.custom-footer ul>li>a {
    font-weight: 600;
}

.font-bold {
    font-weight: 600;
}

@media (min-width: 600px) {
    .custom-footer ul {
        margin-top: 0;
    }
}